 .u-section-1 {
  background-image: linear-gradient(#fef9e6, #b9c1cc);
}

.u-section-1 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 61px auto 0;
}

.u-section-1 .u-text-2 {
  width: 682px;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 419px;
}

.u-section-1 .u-container-layout-1 {
  padding: 4px 8px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 23px 22px 0;
}

.u-section-1 .u-image-1 {
  width: 173px;
  height: 169px;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 400;
  background-image: none;
  border-style: solid;
  margin: 24px auto 0;
  padding: 9px 31px 11px 29px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 419px;
}

.u-section-1 .u-container-layout-2 {
  padding: 21px 7px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 7px 28px 0 18px;
}

.u-section-1 .u-image-2 {
  width: 173px;
  height: 169px;
  margin: 5px auto 0 73px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: normal;
  margin: 28px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 419px;
}

.u-section-1 .u-container-layout-3 {
  padding: 21px 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 2px 0 0;
}

.u-section-1 .u-image-3 {
  width: 173px;
  height: 169px;
  margin: 14px auto 0 40px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  border-style: solid;
  margin: 24px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 71px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 28px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 49px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 1.75rem;
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 24px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-size: 1.75rem;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 27px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    font-weight: 400;
    border-style: solid;
    margin-top: 9px;
  }

  .u-section-1 .u-layout-cell-3 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.75rem;
    width: auto;
    margin-top: 20px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 452px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 23px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 447px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 270px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 331px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 37px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 24px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 551px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 44px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 14px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 390px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 23px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 9px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 347px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-3 {
    margin-top: 24px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 14px;
  }
} .u-section-2 {
  background-image: linear-gradient(#b9c1cc, #db545a);
}

.u-section-2 .u-sheet-1 {
  min-height: 720px;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 522px;
  background-image: none;
  margin: 99px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 9px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 9px auto 0;
}

.u-section-2 .u-image-1 {
  width: 537px;
  height: 248px;
  margin: -522px 0 0 auto;
}

.u-section-2 .u-image-2 {
  width: 537px;
  height: 241px;
  margin: 33px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-2 .u-group-1 {
    width: 440px;
    margin-top: 73px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 24px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-weight: 700;
    width: auto;
    margin-top: 13px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-2 .u-image-1 {
    width: 487px;
  }

  .u-section-2 .u-image-2 {
    width: 487px;
    height: 247px;
    margin-top: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1245px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 971px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 173px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 173px;
  }
} .u-section-3 {
  background-image: linear-gradient(#db545a, #2cccc4);
}

.u-section-3 .u-sheet-1 {
  min-height: 720px;
}

.u-section-3 .u-group-1 {
  width: 570px;
  min-height: 522px;
  background-image: none;
  margin: 99px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 9px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 1px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 9px auto 0;
}

.u-section-3 .u-image-1 {
  width: 537px;
  height: 281px;
  margin: -522px 0 0 auto;
}

.u-section-3 .u-image-2 {
  width: 239px;
  height: 209px;
  margin: 31px 298px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 269px;
  height: 208px;
  margin: -208px 19px 1px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-3 .u-group-1 {
    width: 439px;
    margin-top: 72px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 3px;
  }

  .u-section-3 .u-image-1 {
    width: 487px;
    height: 269px;
  }

  .u-section-3 .u-image-2 {
    width: 201px;
    height: 219px;
    margin-top: 34px;
    margin-right: 286px;
  }

  .u-section-3 .u-image-3 {
    width: 214px;
    height: 197px;
    margin-top: -197px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 188px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-3 .u-image-2 {
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-3 .u-image-3 {
    width: 360px;
    height: 270px;
    margin-bottom: 0;
  }
} .u-section-4 {
  background-image: linear-gradient(#2cccc4, #333333);
}

.u-section-4 .u-sheet-1 {
  min-height: 720px;
}

.u-section-4 .u-group-1 {
  width: 570px;
  min-height: 522px;
  background-image: none;
  margin: 99px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 9px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 9px auto 0;
}

.u-section-4 .u-image-1 {
  width: 537px;
  height: 238px;
  margin: -522px 0 0 auto;
}

.u-section-4 .u-image-2 {
  width: 537px;
  height: 250px;
  margin: 33px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-4 .u-group-1 {
    width: 439px;
    margin-top: 73px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 4.375rem;
    margin-top: 0;
    margin-right: 8px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 29px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-image-1 {
    width: 487px;
    height: 208px;
  }

  .u-section-4 .u-image-2 {
    width: 487px;
    height: 285px;
    margin-top: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-icon-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-right: -45px;
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 145px;
    margin-top: -278px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 199px;
    margin-bottom: 0;
  }
}